html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', serif sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  align-items: space-between;
  justify-content: space-between;

}

/*Superposition du texte devant l'image de principal du site */
.image-accueil {
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-accueil img {

  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.text-acceuil {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 5vw;
}

.text {
  margin: 15px;
  justify-content: jusitfy;
  text-align: justify;
  font-size: 2vw;
}

.main-content h3 {
  margin: 10px;
}




/*Configuration du footer*/

.footer-contact {
  background-color: #008F8C;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  padding: 0px;

}

.footer-contact a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.footer-contact li {
  text-decoration: none;
  list-style: none;
}

.footer-navig {
  color: white;
  background-color: #008F8C;
  width: 100%;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.footer-navig li {
  list-style: none;

}

.footer-navig li a {
  color: white;
  text-decoration: none;
}

.footer-social {
  color: white;
  background-color: #008F8C;
  width: 100%;
  font-size: 15px;

}

.footer-social li {
  list-style: none;
}

.footer-social li a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  padding: 5px;
}

.footer-copyright {
  color: white;
  background-color: #008F8C;
  font-size: 10px;
  line-height: 1px;
  margin-top: 0px;
  text-align: center;
  height: 10px;

}

/*Configuration du passage la souris sur liens liens pieds de pages*/
.footer-navig a:hover {
  text-decoration: none;
  color: #ff0080;
}

.footer-contact a:hover {
  text-decoration: none;
  color: #ff0080;
}

.footer-social a:hover {
  text-decoration: none;
  color: #ff0080;
}

.event {
  width: 100%;
}

.futur {
  display: flex;
  flex-direction: flex;
  font-size: 2vw;
  align-items: center;
}

.futur text {
  text-align: center;

}

.futur .imgevenement img {
  width: 200px;
  padding: 10px;
  border-radius: 18%;
}